@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap");

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-image: url(/img/fondoPrincipal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(25, 25, 25);
  overflow-x: hidden;
  .menuH {
    visibility: hidden;
  }
  @include mobile {
    overflow-x: hidden;
    /* MENU HAMBURGUESA */
    .menuH {
      visibility: visible;
      .menu {
        position: absolute;
        right: -115px;
        top: -115px;
        z-index: 100;
        width: 200px;
        height: 200px;
        background-color: hsl(0, 0%, 0%);
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
        cursor: pointer;
      }
      .hamburger {
        position: absolute;
        top: 150px;
        left: 40px;
        width: 30px;
        height: 2px;
        background: #fff;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
      }
      .hamburger:after,
      .hamburger:before {
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #fff;
      }
      .hamburger:before {
        top: -10px;
      }
      .hamburger:after {
        bottom: -10px;
      }
      input {
        display: none;
      }
      input:checked + .menu {
        box-shadow: 0 0 0 100vw hsl(0, 0%, 0%), 0 0 0 150vh hsl(0, 0%, 0%);
        border-radius: 0;
      }
      input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
      }
      input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
      }
      input:checked + .menu + ul {
        opacity: 1;
      }
      ul {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: 0.25s 0s ease-in-out;
        transition: 0.25s 0s ease-in-out;
        list-style: none;
        font-size: 30px;
        text-align: center;
        li:hover {
          transform: scale(1.2);
        }
      }
      a {
        margin-bottom: 1em;
        display: block;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.body1 {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 6, 1fr;
  grid-template-areas:
    "navBar navBar"
    "section1 section1"
    "section2 section2"
    "section3 section3"
    "section4 section4"
    "footer footer";
  @include mobile {
    overflow-x: hidden;
  }
}

.navBar {
  grid-area: navBar;
  max-height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-right: 10px;
  font-size: 25px;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-right: 20px;

  @include mobile {
    font-size: 12px;
    height: 80px;
    position: static;
  }
  .logoPrincipal {
    width: 150px;
    @include mobile {
      width: 100px;
    }
  }
  .itemNavBar {
    display: flex;
    gap: 30px;
    @include mobile {
      visibility: hidden;
    }
    a {
      text-decoration: none;
      li {
        list-style: none;
        color: whitesmoke;
        &:hover {
          color: aquamarine;
        }
      }
    }
    .btnH {
      cursor: pointer;
      font-size: 24px;
      visibility: hidden;
      @include mobile {
        color: whitesmoke;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
        padding-right: 40px;
      }
    }
  }
}

.section1 {
  grid-area: section1;
  color: whitesmoke;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 1000px;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas:
    "titulo1  img1 img1"
    "titulo1  img1 img1"
    "btn1  btn1 btn1";
  @include tablet {
    height: 700px;
  }
  @include mobile {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    grid-template-areas:
      "titulo1"
      "img1"
      "btn1";
  }
}
.titulo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 100px;
  font-size: 30px;
  gap: 20px;
  grid-area: titulo1;
  max-width: 500px;
  @include tablet {
    font-size: 24px;
    padding-left: 20px;
  }
  @include mobile {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
  }
}

.img1 {
  img {
    height: 100%;
    width: 600px;
    @include tablet {
      width: 380px;
      padding-right: 20px;
    }
    @include mobile {
      width: 280px;
    }
  }
  @include mobile {
    display: flex;
    justify-content: center;
  }
  padding-top: 20px;
  grid-area: img1;
}
.btn1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  grid-area: btn1;
  @include mobile {
    display: flex;
    justify-content: center;
  }
}

.section2 {
  grid-area: section2;
  height: 1000px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "video titulo2";
  justify-content: center;
  align-items: center;
  gap: 30px;

  @include tablet {
    height: 600px;
  }
  .titulo2 {
    grid-area: titulo2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 30px;
    max-width: 500px;
    @include tablet {
      font-size: 24px;
      padding-right: 20px;
    }
    @include mobile {
      font-size: 18px;
      padding-left: 30px;
      align-items: flex-start;
    }
  }
  .video {
    grid-area: video;
    .video1 {
      height: 100%;
      width: 900px;
      @include tablet {
        height: 100%;
        width: 450px;
        padding-left: 10px;
      }
      @include mobile {
        height: 100%;
        width: 350px;
      }
    }
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
}

.section3 {
  grid-area: section3;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  gap: 100px;
  @include tablet {
    height: 600px;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 20px;
  }
  .titulo3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 30px;
    max-width: 500px;
    @include tablet {
      font-size: 24px;
      padding-left: 20px;
    }
    @include mobile {
      font-size: 18px;
      padding-left: 30px;
    }
  }
}

.section4 {
  grid-area: section4;
  height: 1000px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "titulo4" "img360";
    justify-items: center;
    align-items: flex-end;
    gap: 30px;
    padding-bottom: 40px;
  }
  .titulo4 {
    grid-area: titulo4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 30px;
    max-width: 500px;
    @include tablet {
      font-size: 24px;
      padding-right: 20px;
    }
    @include mobile {
      align-items: flex-start;
      font-size: 18px;
      padding-left: 30px;
    }
  }
  .img360 {
    grid-area: img360;
    width: 800px;
    @include tablet {
      width: 550px;
      padding-left: 20px;
    }
    @include mobile {
      width: 350px;
      padding-left: 20px;
    }
  }
}

footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 40px 20px 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  @include tablet {
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
  }
  @include mobile {
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
  }
  a {
    text-decoration: none;
    li {
      font-size: 24px;
      list-style: none;
      color: whitesmoke;
    }
  }
}

.btn {
  font-size: 20px;
  color: whitesmoke;
  border: none;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  background: rgba(20, 20, 20, 0.137);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 0.3px solid rgba(10, 10, 10, 0.249);
  @include mobile {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
}

//*****************************************************SLIDE**********************************************************
label {
  cursor: pointer;
}

/* Contenedor para centrar */
.ContainerCenter {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.474);
  border: 0.5px solid rgba(10, 10, 10, 0.444);
  display: flex;
  align-items: center;
  flex-direction: column;
  @include tablet {
    padding-right: 20px;
  }
  @include mobile {
    padding-left: 20px;
  }
}
/* Input */
input {
  display: none;
}

/* Slider */
.Carrusels {
  height: 600px;
  width: 800px;
  position: relative;
  overflow-x: hidden;
  @include tablet {
    height: 300px;
    width: 450px;
  }
  @include mobile {
    height: 300px;
    width: 350px;
  }
}
.Carrusel {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all 0.5s ease;
}

/* Configuracion de elementos individuales */
.Carrusels .Carrusel:nth-child(1) {
  background-image: url(/img/prototipo1.jpg);
  @include mobile {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.Carrusels .Carrusel:nth-child(2) {
  background-image: url(/img/prototipo2.jpg);
  @include mobile {
    background-position: center;
    background-size: cover;
  }
}
.Carrusels .Carrusel:nth-child(3) {
  background-image: url(/img/prototipo3.jpg);
  @include mobile {
    background-position: center;
    background-size: cover;
  }
}
/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
  transform: translate(0%, 0);
}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
  transform: translate(100%, 0);
}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
  transform: translate(200%, 0);
}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
  transform: translate(-100%, 0);
}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
  transform: translate(0%, 0);
}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
  transform: translate(100%, 0);
}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
  transform: translate(-200%, 0);
}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
  transform: translate(-100%, 0);
}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
  transform: translate(0%, 0);
}

/* Flechas */
.Carrusels .ArrowLeft,
.Carrusels .ArrowRight {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
  background: rgba(20, 20, 20, 0.425);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 0.3px solid rgba(10, 10, 10, 0.249);
}
.Carrusels .ArrowLeft {
  left: 10px;
}
.Carrusels .ArrowRight {
  right: 10px;
}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1 {
  display: flex;
}
#Slider2:checked ~ .Carrusels .Arrow2 {
  display: flex;
}
#Slider3:checked ~ .Carrusels .Arrow3 {
  display: flex;
}

/* Selectores */
.Selectors {
  width: 100px;
  padding: 15px;
  display: flex;

  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #fff;
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 10px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {
  background-color: #999999;
}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {
  background-color: #999999;
}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {
  background-color: #999999;
}

/**** TOURS VIRTUALES PAGE *****/
.body2 {
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas:
    "navBar navBar"
    "sectionTours sectionTours"
    "footer footer";
  justify-items: center;
  .footer {
    @include mobile {
      position: static;
    }
  }
  @include mobile {
    height: 150vh;
  }
}

.objeto3d {
  position: absolute;
  width: 100px;
  left: 0;
  bottom: 25px;
  @include mobile {
    visibility: hidden;
  }
}

.objeto3d2 {
  position: absolute;
  width: 150px;
  right: 0;
  top: 60px;
  @include mobile {
    width: 150px;
    top: 40px;
  }
}

.objeto3d3 {
  position: absolute;
  right: 0;
  top: 150px;
  width: 100px;
  @include mobile {
    width: 100px;
    top: 130px;
  }
}

.sectionTours {
  grid-area: sectionTours;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "titulo infoTours"
    "tour infoTours";
  gap: 20px;
  width: 1450px;
  height: 100%;
  background: rgba(20, 20, 20, 0.479);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 0.3px solid rgba(10, 10, 10, 0.249);
  justify-items: center;
  align-items: center;

  @include mobile {
    height: 1200px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .titulo {
    grid-area: titulo;
    color: whitesmoke;
    font-size: 28px;
    height: 50px;
    span {
      color: rgb(103, 8, 103);
    }

    @include mobile {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      max-width: 350px;
      gap: 10px;
    }
  }
  .tour {
    grid-area: tour;
    padding-bottom: 20px;

    @include mobile {
      padding-top: 40px;
    }
    .tour360 {
      border-radius: 10px;
      height: 400px;
      width: 700px;

      @include mobile {
        width: 350px;
      }
    }
  }
  .infoTours {
    grid-area: infoTours;
    max-width: 600px;
    color: whitesmoke;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
      color: rgb(103, 8, 103);
    }

    @include mobile {
      font-size: 18px;
      max-width: 350px;
    }
  }
}

/********* FIN PAGE TOURS ********/

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    height: 84vh;
    overflow: hidden;
  }
}
.proximamente {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  overflow: hidden;
  h2 {
    font-size: 60px;
    @include mobile {
      font-size: 40px;
    }
  }
  .imgGif {
    height: 400px;
    width: 400px;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/**** CURSOS PAGE *****/
.sectionCards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  @include mobile {
    height: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card1 card2 card3 card4";
    gap: 100px;
    color: whitesmoke;
    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 4, 1fr;
      grid-template-areas: "card1" "card2" "card3" "card4";
      align-items: center;
      justify-items: center;
      padding-bottom: 20px;
      gap: 20px;
    }
    .card1 {
      grid-area: card1;
    }
    .card2 {
      grid-area: card2;
    }
    .card3 {
      grid-area: card3;
    }
    .card {
      grid-area: card4;
    }
    .imgCurso {
      height: 100%;
      width: 100%;
    }
    .card1,
    .card2,
    .card3,
    .card4 {
      height: 400px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      p {
        text-align: justify;
      }
    }
    .btnCurso {
      cursor: pointer;
      width: 100%;
      background-color: green;
    }
  }
}
